.header {
  background: var(--background);
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    width: 96vw;
    margin: 0 auto;

    .center {
      flex: 0 0 content;
    }

    .left {
      flex: 1 0 100px;
      display: flex;
      justify-content: center;
      gap: 8px;
    }

    .right {
      flex: 1 0 100px;
      display: flex;
      justify-content: center;
    }
  }
}
