.onPageWrap {
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 100px;
}

.orderInfo {
  width: 640px;
}

.ordersIngredientsWrap {
  max-height: 304px;
  overflow-y: auto;
  scrollbar-width: thin !important;
  scrollbar-color: #8585ad #2f2f37 !important;
}

.orderIngr {
  display: flex;
  align-items: center;
}

.orderIngrImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #131316;
  border: 2px solid #4c4cff;
  border-radius: 50%;
}

.orderIngrImage img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

.orderIngrPriceWrap {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.bottomWrap {
  display: flex;
  justify-content: space-between;
}

.priceWrap {
  display: flex;
  align-items: center;
}
